<article class="quizz__container">

    <section class="quizz_logo">
        <img src="../../../assets/images/logo.png" alt="Buzz Feed">
        <h3>Titulo</h3>
    </section>

    <section class="quizz_questions">
        <h3>Questão Selecionada</h3>
    </section>

    <section class="quizz_options">
        <button class="btn-option">
            Opção
        </button>
        <button class="btn-option">
            Opção
        </button>
        <button class="btn-option">
            Opção
        </button>
    </section>

    <section class="quizz_results">
        <h1>O seu Resultado é: </h1>
        <p>Resposta Selecionada</p>
    </section>

</article>